/* Container for Shadow */
div.footerShadow {
  box-shadow: 0 -10px 15px -3px var(--color-text-primary), 0 -4px 6px -4px var(--color-text-primary);
  position: relative;
  margin-top: 3rem;
}

.footerBorder {
  background: var(--color-text-primary);
}